@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1440px;
    position: relative;
}

.shape-top {
    height: 630px;
    width: 380px;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    border-bottom-right-radius: 14rem;
    border-bottom-left-radius: 10rem;
    left: 0;
    top: 0;
}

.shape-below {
    height: 570px;
    width: 350px;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 2%;
    border-top-left-radius: 16rem;
}


.app-ui-text {
    position: absolute;
    left: 22%;
    top: 7rem;
    display: flex;
}

.app-ui {
    height: 540px;
    width: 280px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 27px;
    background-color: white;
    position: relative;
}

.text {
    align-self: center;
    margin-left: 100px;
    text-align: left;
    margin-right: 150px;
}

.text h1 {
    margin-bottom: 20px;
    color: #511660

    ;
}

.text p {
    line-height: 2rem;
    opacity: 50%;
}

.sub-container {
    height: 520px;
    width: 260px;
    background-color: hsl(270, 20%, 96%);
    font-size: 7px;
    margin: 8px 8px;
    border-radius: 27px;
}

.top-section {
    background-image: linear-gradient(to left,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 260px;
    height: 90px;
    color: aliceblue;
    border-radius: 27px 27px 5px 5px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.top-section img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-angle-left {
    font-size: 15px;
    margin-left: 20px;
}
.fa-ellipsis-v {
    font-size: 10px;
}

.top-section .name {
    margin-right: 70px;
}

.top-section .name h1 {
    margin-bottom: 5px;
}

.top-section .name p {
    opacity: 70%;
    font-size: 7px;
}

.white-box {
    width: 130px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 27%;
    border-radius: 0 0  15px 15px;
}

.top_left .recieved-text {
    width: 130px;
    height: 40px;
    background-color:  #f9edfa;
    border-radius: 10px;
    margin: 10px;
    
}

.top_left .recieved-text p {
    width: 100px;
    font-size: 8px;
    padding-left: 10px;
    padding-top: 8px;
    color: hsl(276, 55%, 52%);
    
}

.middle_right .sent-images {
    display: flex;
    margin-left: 110px;
}
.sent-images img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.middle_text {
    width: 100px;
    padding: 6px;
    background-color:  white;
    border-radius: 10px;
    border-bottom-right-radius: 1px;
    margin: 10px;
    line-height: 0.6rem;
    margin-left: 150px;
    
}

.middle_text p {
    width: 100px;
    font-size: 8px;
}

.bottom_left .recieved-text {
    width: 120px;
    padding: 7px;
    background-color:  #f9edfa;
    border-radius: 10px;
    border-bottom-right-radius: 1px;
    margin: 10px;
    line-height: 0.6rem;
}

.bottom_left .recieved-text p {
    color: hsl(276, 55%, 52%);
}

.odd-text{
    width: 160px;
    padding: 10px;
    background-image: linear-gradient(to right,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px;
    border-bottom-left-radius: 1px;
    margin: 10px;
    line-height: 0.6rem;
    display: flex;
    color: white;
    align-items: center;
}  

.circle {
    height: 10px;
    width: 10px;
    border: 1px solid white;
    border-radius: 20px;
    opacity: 50%;
    margin-right: 10px;
}

.dollar-price1 {
    margin-left: 50px;
    font-size: 10px;
    font-weight: bold;
}

.dollar-price2{
    margin-left: 65px;
    font-size: 10px;
    font-weight: bold;
}

.buttonIn {
    position: relative;
    width: 240px;
    margin-left: 10px;
    margin-top: 20px;
}

#enter {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: 0;
}

button {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 7px;
    top: 4px;
    padding: 5px;
    border: 0;
    border-radius: 20px;
    background-color: black;
}

.fa-angle-right {
    color: white;
}

::placeholder {
    font-size: 10px;
    margin-left: 10px;
    opacity: 50%;
}


@media (max-width: 780px) {
    
    .app-ui-text{
        position: none;
        display: grid;
        
    }

    .app-ui {
        padding-top: 1px;
    }

    .text {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .shape-top {
        width: 300px;
        height: 550px;
    }
    .shape-below {
        width: 300px;
        height: 500px;
    }


    /* .sub-container {
        margin-top: 10px;
    } */
}